---
layout: base
---
<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    {{ content }}
    {% assign tag_posts = site.posts | where_exp:"item", "item.tags contains page.tag" %}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in tag_posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {{ post.content | markdownify | strip_html | truncatewords: 30 }}
      </li>
      {%- endfor -%}
    </ul>
</div>